! Xft ----------------
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   true
Xft.antialias: true
Xft.dpi:       96
Xft.rgba:      rgb

! fonts       		-------
URxvt.font:         xft:DejaVu Sans Mono:size=16:Regular
URxvt.boldFont:     xft:DejaVu Sans Mono:size=16:Bold
URxvt.letterSpace:  -1
URxvt.foreground: 	#e5c7a9

! color theme 		-------
URxvt.background: 	#292520
URxvt.color0:		#121418
URxvt.color1:		#c94234
URxvt.color2:		#85c54c
URxvt.color3:		#f5ae2e
URxvt.color4:		#1398b9
URxvt.color5:		#d0633d
URxvt.color6:		#509552
URxvt.color7:		#e5c6aa
URxvt.color8:		#675f54
URxvt.color9:		#ff645a
URxvt.color10:		#98e036
URxvt.color11:		#e0d561
URxvt.color12:		#5fdaff
URxvt.color13:		#ff9269
URxvt.color14:		#84f088
URxvt.color15:		#f6f7ec

! keymap
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! scrollBar   		-------
URxvt.scrollBar:    false

! perl extension	-------
URxvt.perl-ext-common: default,matcher,resize-font

! url matching		-------
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
